body{
  /* For the entire page */
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  overflow-x: hidden;
}

li a{
  /* Style the navbar elements */
  font-size: 30px;
  color: rgb(196, 190, 190);
  text-decoration: none;
  font-weight: bold;
}

.navigation-bar{
  /* Position of navigation bar */
  gap:1px;
  padding: 10px 6px;
  float:right;
  text-align: right;
  width:100%;
  height:250px;
}

.logo{
  /* Position of logo */
  width:250px;
  position: absolute;
  left:30px;
  top:-70px;
}

.navigation-bar-links{
  /* Alignment of navigation bar*/
  list-style: none;
  padding:10px 90px;
}

.navigation-bar-links li{
  /* Display of links in navigation bar */
  display: inline-block;
  padding: 3px 25px;
}

.navigation-bar-links li a:hover{
  /* Hover effect on navigation bar links */
  transition: all 0.3s ease 0s;
  color: rgb(37, 37, 37);
}

ul li{
  /* lists style */
  list-style: none;
  font-size: 16px;
  gap:2px;
}

.title{
  /* Style big about us title */
  position: absolute;
  text-align: center;
  font-size: 70px;
  color:rgb(37, 37, 37);
  top:110px;
  left:42%;
}

.about-us-box{
  /* Style big about us box */
  background-color: #d9cfd0;
  width:1700px;
  height:700px;
  border-radius: 20px;
  position: absolute;
  left: 90px;
  top:300px;
  border: 1px solid rgba(0, 0, 0, 0.496);
}

.story-heading {
  /* Position heading */
  font-size: 45px;
  position: absolute;
  top: 80px;
  left: 100px;
}

.story-text {
  /* Position text */
  font-size: 27px;
  position: absolute;
  top: 200px;
  left: 100px;
}

.story-image {
  /* Position image */
  width: 600px;
  position: absolute;
  left: 1060px;
  top: 100px;
  border-radius: 10px;
}

.images-box{
  /* Style big box with images */
  background-color:rgb(104, 112, 130);
  height:700px;
  width:1700px;
  position:absolute;
  top:1100px;
  left:90px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 3px  rgb(163, 160, 159);
}

.Dimi-Name {
  /* Style Dimaya name text */
  position: absolute;
  left: 110px;
  top: 40px;
  font-size: 35px;
}

.Dimi-role{
  /* Style Dimaya role text */
  font-size: 30px;
  color:white;
  position: absolute;
  top:490px;
  left:145px;
  font-family: 'Cormorant Garamond', serif;
}

.Dimi-pic {
  /* Style Dimaya image */
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  left: 45px;
  top: 150px;
}

.Dimi-Figure{
  /* Style Dimaya figure image */
  position: absolute;
  top: 420px;
  left: 22px;
}

.Stoyan-Name {
  /* Style Stoyan name text */
  position: absolute;
  left: 536px;
  top: 40px;
  font-size: 35px;
}

.Stoyan-role{
  /* Style Stoyan role text */
  font-size: 30px;
  color:white;
  position: absolute;
  top:490px;
  left:535px;
  font-family: 'Cormorant Garamond', serif;
}

.Stoyan-pic {
  /* Style Stoyan image */
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  left: 480px;
  top: 150px;
}

.Stoyan-Figure{
  /* Style Stoyan figure image */
  position: absolute;
  top: 420px;
  left: 448px;
}

.Jaki-Name {
  /* Style Jaki name text */
  position: absolute;
  left: 950px;
  top: 40px;
  font-size: 35px;
}

.Jaki-role{
  /* Style Jaki role text */
  font-size: 30px;
  color:white;
  position: absolute;
  top:490px;
  left:1030px;
  font-family: 'Cormorant Garamond', serif;
}

.Jaki-pic {
  /* Style Jaki image */
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  left: 900px;
  top: 150px;
}

.Jaki-Figure{
  /* Style Jaki figure image */
  position: absolute;
  top: 420px;
  left: 873px;
}

.Steli-Name {
  /* Style Steli name text */
  position: absolute;
  left: 1350px;
  top: 40px;
  font-size: 35px;
}

.Steli-role{
  /* Style Steli role text */
  font-size: 30px;
  color:white;
  position: absolute;
  top:490px;
  left:1355px;
  font-family: 'Cormorant Garamond', serif;
}

.Steli-pic {
  /* Style Steli image */
  width: 350px;
  height: 350px;
  position: absolute;
  border-radius: 50%;
  left: 1300px;
  top: 150px;
}

.Steli-Figure{
  /* Style Steli figure image */
  position: absolute;
  top: 420px;
  left: 1272px;
}

.donate-box {
  /* Style the big mission box */
  background-color: rgb(217, 207, 208);
  width: 1700px;
  height: 700px;
  border-radius: 20px;
  position: absolute;
  left: 90px;
  top: 1900px;
  box-shadow: 17px 15px 40px 3px rgb(178, 166, 164);
}

.donate-heading {
  /* Style mission heading */
  font-size: 45px;
  position: absolute;
  top: 80px;
  left: 100px;
}

.donate-text {
  /* Style mission text */
  font-size: 27px;
  position: absolute;
  top: 200px;
  left: 100px;
}

.Donate-button:hover {
  /* Style donate button */
  color: rgb(151, 116, 83);
  background-color: rgb(229, 229, 229);
  transition: all 0.3s ease 0.2s;
  transform: translateY(-20px);
}

.video{
  /* Style video */
  position: absolute;
  width: 640px;
  height: 430px;
  top: 130px;
  left: 1000px;
}

.Forum-box {
  /* Style big forum box */
  background-color: rgb(104, 112, 130);
  height: 700px;
  width: 1700px;
  position: absolute;
  top: 2700px;
  left: 90px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 3px rgb(163, 160, 159);
}

.Left-box {
  /* Style left box */
  background-color: rgb(37, 37, 37);
  width: 700px;
  height: 550px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  position: absolute;
  top: 100px;
  left: 150px;
}

.Forum-heading {
  /* Style forum heading */
  font-size: 80px;
  position: absolute;
  left: 90px;
  top: 20px;
  color: rgb(178, 166, 164);
  z-index: 3;
}

.leaf{
  /* Style leaf image */
  position: absolute;
  width:450px;
  top:87px;
  left:400px;
  z-index: 2;
}

.Right-box {
  /* Style right forum box */
  background-color: rgb(178, 166, 164);
  width: 700px;
  height: 550px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  position: absolute;
  top: 100px;
  left: 850px;
}

.first-name-box {
  /* Style first name input box */
  width: 260px;
  height: 40px;
  background-color: whitesmoke;
  border: solid rgb(30, 30, 30) 2px;
  border-radius: 10px;
  position: absolute;
  left: 45px;
  top: 60px;
  font-size: 20px;
  text-align: center;
}

.last-name-box {
  /* Style last name input box */
  width: 260px;
  height: 40px;
  background-color: whitesmoke;
  border: solid rgb(30, 30, 30) 2px;
  border-radius: 10px;
  position: absolute;
  left: 45px;
  top: 140px;
  font-size: 20px;
  text-align: center;
}

.age-box {
  /* Style age input box */
  width: 260px;
  height: 40px;
  background-color: whitesmoke;
  border: solid rgb(30, 30, 30) 2px;
  border-radius: 10px;
  position: absolute;
  left: 45px;
  top: 220px;
  font-size: 20px;
  text-align: center;
}

.E-mail-box {
  /* Style e-mail input box */
  width: 260px;
  height: 40px;
  background-color: whitesmoke;
  border: solid rgb(30, 30, 30) 2px;
  border-radius: 10px;
  position: absolute;
  left: 45px;
  top: 300px;
  font-size: 20px;
  text-align: center;
}

.Phone-number-box {
  /* Style phone number input box */
  width: 260px;
  height: 40px;
  background-color: whitesmoke;
  border: solid rgb(30, 30, 30) 2px;
  border-radius: 10px;
  position: absolute;
  left: 45px;
  top: 380px;
  font-size: 20px;
  text-align: center;
}

.Feedback-comment-box {
  /* Style feedback input box */
  width: 280px;
  height: 360px;
  background-color: whitesmoke;
  border: solid rgb(30, 30, 30) 2px;
  border-radius: 10px;
  position: absolute;
  left: 365px;
  top: 60px;
  font-size: 20px;
  text-align: center;
}

.submit-button{
  /* Style submit button */
  width:200px;
  padding:13px;
  background-color: whitesmoke;
  border:solid rgb(30, 30, 30) 2px;
  border-radius: 15px;
  color: rgb(30, 30, 30);
  font-size: 20px;
  font-weight:bold;
  text-align: center;
  position:absolute;
  left:250px;
  top:480px;
}

.submit-button:hover{
  /* Style submit button */
  background-color:rgb(215, 215, 215);
  color:rgb(30, 30, 30);
  transition:all 0.3s ease 0.2s;
  transform: translateY(-20px);
}
/* Make page responsive */
@media only screen and (max-width:1000px) {
  .title{
    position: absolute;
    left:350px;
  }

  .about-us-box{
    width:800px;
    position: absolute;
    left:80px;
    height:1000px;
  }

  .story-heading{
    position: absolute;
    left:270px;
    top:30px;
  }

  .story-text{
    position: absolute;
    top:150px;
    left:80px;
    width:500px;
  }

  .story-image{
    position: absolute;
    top:550px;
    left:120px;
  }

  .images-box{
    width:800px;
    height:2500px;
    position: absolute;
    top:1430px;
  }

  .Dimi-pic{
    position: absolute;
    left:220px;
  }

  .Dimi-Name{
    position: absolute;
    left:270px;
  }

  .Dimi-role{
    position: absolute;
    left:320px;
  }

  .Dimi-Figure{
    position: absolute;
    left:195px;
  }

  .Stoyan-pic{
    position: absolute;
    left:225px; 
    top:770px;
  }

  .Stoyan-Name{
    position: absolute;
    left:280px;
    top:680px;
  }

  .Stoyan-role{
    position: absolute;
    left:285px;
    top:1110px;
  }

  .Stoyan-Figure{
    position: absolute;
    left:195px;
    top:1040px;
  }

  .Jaki-pic{
    position: absolute;
    left:225px; 
    top:1400px;
  }

  .Jaki-Name{
    position: absolute;
    left:280px;
    top:1290px;
  }

  .Jaki-role{
    position: absolute;
    left:345px;
    top:1730px;
  }

  .Jaki-Figure{
    position: absolute;
    left:195px;
    top:1660px;
  }

  .Steli-pic{
    position: absolute;
    left:225px; 
    top:1980px;
  }

  .Steli-Name{
    position: absolute;
    left:270px;
    top:1870px;
  }

  .Steli-role{
    position: absolute;
    left:290px;
    top:2310px;
  }

  .Steli-Figure{
    position: absolute;
    left:195px;
    top:2240px;
  }

  .donate-box{
    width:800px;
    height: 1200px;
    position: absolute;
    top:4000px;
  }

  .video{
    position: absolute;
    top:670px;
    left:90px;
  }

  .Forum-box{
    width:800px;
    height:1230px;
    position: absolute;
    top:5300px;
    
  }

  .Left-box{
    position: absolute;
    left:50px;
    top:80px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .leaf{
    position: absolute;
    left:300px;
    top:67px;
  }

  .Right-box{
    position: absolute;
    left:50px;
    top:630px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}