body {
  /* For the entire page */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}

li a {
  /* Style the navbar elements */
  font-size: 30px;
  color: rgb(196, 190, 190);
  text-decoration: none;
  font-weight: bold;
  position: relative;

}

a:hover::after {
  /* Underline hover effect */
  width: 100%;
}

a::after {
  /* Underline after effect */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #772734;
  transition: .2s;
}

.navigation-bar {
  /* Position of navigation bar */
  gap: 1px;
  padding: 10px 6px;
  float: right;
  text-align: right;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: rgb(238, 238, 238);
}

.logo {
  /* Position of logo */
  width: 250px;
  position: absolute;
  left: 30px;
  top: -70px;
}

.navigation-bar-links {
  /* Alignment of navigation bar*/
  list-style: none;
  padding: 10px 50px;
}

.navigation-bar-links li {
  /* Display of links in navigation bar */
  display: inline-block;
  padding: 3px 25px;
}

.navigation-bar-links li a:hover {
  /* Hover effect on navigation bar links */
  transition: all 0.3s ease 0s;
  color: rgb(37, 37, 37);
}

ul li {
  /* lists style */
  list-style: none;
  font-size: 16px;
  gap: 2px;
}

.container .element {
  /*all elements formating */
  display: inline-block;
  align-items: center;
  z-index: 2;
}

.container {
  /* container styling */
  background-image: url(../images/game/background.png);
  width: 1200px;
  height: 600px;
  word-spacing: 30px;
  position: absolute;
  top: 200px;
  left: 400px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  /* individual formating */
  margin-top: 300px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  left: 200px;
}

#RecycleBin {
  /* Recycling bin styling */
  top: 45px;
  left: 800px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
}

#nonRecycleBin {
  /* Non-recycling bin styling */
  top: 45px;
  left: 200px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
}

.points-display {
  /* Score formating */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
}

.message {
  /* Message formating */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

#game-container {
  display: none;
}

#startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  padding: 10px;
}