body{
    padding:0px;
    margin:0px;
}

li, a{
    font-size: 24px;
    color: rgb(19, 190, 19);
    text-decoration: none;
    font-weight: bold;
}

.navigation-bar{
    gap:1px;
    padding: 10px 6px;
    float:right;
    text-align: right;
}

.navigation-bar-links{
    list-style: none;
    padding:0px 150px;
}

.navigation-bar-links li{
    display: inline-block;
    padding: 3px 25px;
}

.navigation-bar-links li a:hover{
    transition: all 0.3s ease 0s;
    color:darkgreen;
}

nav ul li{
    list-style: none;
    font-size: 16px;
    gap:2px;
}