body {
  /* For the entire page */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}

li a {
  /* Style the navbar elements */
  font-size: 30px;
  color: rgb(196, 190, 190);
  text-decoration: none;
  font-weight: bold;
  position: relative;

}

a:hover::after {
  /* Underline hover effect */
  width: 100%;
}

a::after {
  /* Underline after effect */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #772734;
  transition: .2s;
}

.navigation-bar {
  /* Position of navigation bar */
  gap: 1px;
  padding: 10px 6px;
  float: right;
  text-align: right;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: rgb(238, 238, 238);
}

.logo {
  /* Position of logo */
  width: 250px;
  position: absolute;
  left: 30px;
  top: -70px;
}

.navigation-bar-links {
  /* Alignment of navigation bar*/
  list-style: none;
  padding: 10px 50px;
}

.navigation-bar-links li {
  /* Display of links in navigation bar */
  display: inline-block;
  padding: 3px 25px;
}

.navigation-bar-links li a:hover {
  /* Hover effect on navigation bar links */
  transition: all 0.3s ease 0s;
  color: rgb(37, 37, 37);
}

ul li {
  /* lists style */
  list-style: none;
  font-size: 16px;
  gap: 2px;
}

.box {
  /* Colored box style */
  height: 600px;
  background-color: rgb(104, 112, 130);
  padding: 0%;
  z-index: 0;
}

#box-heading {
  /* Box heading style */
  color: rgb(196, 190, 190);
  font-size: 90px;
}

#box-paragraph {
  /* Box paragraph style */
  position: absolute;
  top: 230px;
  color: rgb(238, 238, 238);
  font-size: 20px;
}

.text1 {
  /* Site name */
  position: absolute;
  left: 50px;
  top: 90px;
}

.text2 {
  /* Site name */
  position: absolute;
  left: 70px;
  top: 90px;
  font-size: 25px;
}

.chart1 {
  /* First chart */
  position: absolute;
  top: 350px;
  left: 180px;
  z-index: 5;
}

.chart2 {
  /* Second chart */
  position: absolute;
  top: 1550px;
  left: 180px;
}

.chart3 {
  /* Third chart */
  position: absolute;
  top: 1550px;
  left: 1230px;
}

.chart-heading1 {
  /* First chart heading style */
  font-family: "Rubik", sans-serif;
  color: rgb(3, 48, 71);
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-heading2 {
  /* Second chart heading style */
  font-family: "Rubik", sans-serif;
  color: rgb(3, 48, 71);
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-heading3 {
  /* Third chart heading style */
  font-family: "Rubik", sans-serif;
  color: rgb(3, 48, 71);
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
}

.chart-container1 {
  /* First chart container style */
  width: 1500px;
  z-index: 5;
}

.chart-container2 {
  /* First chart container style */
  width: 900px;
  z-index: 5;
}

.chart-container3 {
  /* First chart container style */
  width: 450px;
  z-index: 5;
}

.stats1 {
  /* First statement style */
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: 1500px;
  box-shadow: 0 4px 12px -2px rgba(83, 78, 78, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: rgb(3, 48, 71);
  transition: all 400ms ease;
  background-color: rgb(238, 238, 238);
}

.stats2 {
  /* Second statement style */
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(83, 78, 78, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: rgb(3, 48, 71);
  transition: all 400ms ease;
  background-color: rgb(238, 238, 238);
}

.stats3 {
  /* Third statement style */
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: fit-content;
  box-shadow: 0 4px 12px -2px rgba(83, 78, 78, 0.3);
  border-radius: 20px;
  padding: 8px 32px;
  color: rgb(3, 48, 71);
  transition: all 400ms ease;
  background-color: rgb(238, 238, 238);
}

.stats1 ul {
  /* First statement list style */
  list-style: none;
  padding: 0;
}

.stats1 ul li {
  /* First statement list style */
  font-size: 16px;
  margin: 20px 20px;
  text-transform: uppercase;
}

.stats1 {
  /* First stat style */
  font-weight: 700;
  color: #e63946;
}

.stats2 ul {
  /* Second statement list style */
  list-style: none;
  padding: 0;
}

.stats2 ul li {
  /* Second statement list style */
  font-size: 16px;
  margin: 20px 20px;
  text-transform: uppercase;
}

.stats2 {
  /* Second stat style */
  font-weight: 700;
  color: #e63946;
}

.stats3 ul {
  /* Third statement list style */
  list-style: none;
  padding: 0;
}

.stats3 ul li {
  /* Third statement list style */
  font-size: 16px;
  margin: 20px 20px;
  text-transform: uppercase;
}

.stats3 {
  /* third stat style */
  font-weight: 700;
  color: #e63946;
}

.fact1 {
  /* First fact style */
  width: 320px;
  background-color: rgb(104, 112, 130);
  position: absolute;
  top: 1300px;
  left: 180px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 3px rgb(178, 166, 164);
  padding: 20px;
}

#first-fact-percentage {
  /* First fact information style */
  color: rgb(196, 190, 190);
  font-size: 30px;
  font-weight: bold;
}

#first-fact-description {
  /* First fact additional information style */
  font-size: 18px;
}

.fact2 {
  /* Second fact style */
  width: 320px;
  background-color: rgb(104, 112, 130);
  position: absolute;
  top: 1300px;
  left: 580px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 3px rgb(178, 166, 164);
  padding: 20px;
}

#second-fact-percentage {
  /* Second fact information style */
  color: rgb(196, 190, 190);
  font-size: 30px;
  font-weight: bold;
}

#second-fact-description {
  /* Second fact additional information style */
  font-size: 18px;
}

.fact3 {
  /* Third fact style */
  width: 320px;
  height: 143px;
  background-color: rgb(104, 112, 130);
  position: absolute;
  top: 1300px;
  left: 980px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 3px rgb(178, 166, 164);
  padding: 20px;
}

#third-fact-percentage {
  /* Third fact information style */
  color: rgb(196, 190, 190);
  font-size: 30px;
  font-weight: bold;
}

#third-fact-description {
  /* Third fact additional information style */
  font-size: 18px;
}

.fact4 {
  /* Fourth fact style */
  width: 320px;
  height: 143px;
  background-color: rgb(104, 112, 130);
  position: absolute;
  top: 1300px;
  left: 1380px;
  border-radius: 20px;
  box-shadow: 17px 15px 40px 3px rgb(178, 166, 164);
  padding: 20px;
}

#fourth-fact-percentage {
  /* Fourth fact information style */
  color: rgb(196, 190, 190);
  font-size: 30px;
  font-weight: bold;
}

#fourth-fact-description {
  /* Fourth fact additional information style */
  font-size: 18px;
}

.arrow-right {
  /* Alignment for continue arrow */
  width: 70px;
  position: absolute;
  top: 2150px;
  left: 1730px;

}

.continue {
  /* Alignment for continue link */
  position: absolute;
  top: 2165px;
  left: 1620px;
  border: none;
  width: 100px;
  font-size: 24px;
  text-align: center;
}

.continue-link {
  /* Style for continue link */
  text-decoration: none;
  color: rgb(37, 37, 37);
  position: relative;
}

.arrow-left {
  /* Alignment for back arrow */
  width: 55px;
  position: absolute;
  top: 2150px;
  left: 130px;

}

.back {
  /* Alignment for back link */
  position: absolute;
  top: 2155px;
  left: 175px;
  border: none;
  width: 100px;
  font-size: 24px;
  text-align: center;
}

.back-link {
  /* Style for back link */
  text-decoration: none;
  color: rgb(37, 37, 37);
  position: relative;
}

/* Make the page responsive */
@media only screen and (max-width:1000px) {

  .navigation-bar-links {
    position: absolute;
    left: 100px;
    padding: 10px 50px;
  }

  .navigation-bar-links {
    display: inline-block;
    padding: 10px 67px;
  }

  .logo {
    position: absolute;
    left: -30px;
  }

  .box {
    height: 400px;
  }

  .text1 {
    position: absolute;
    left: 120px;
    top: 100px;
  }

  .text2 {
    position: absolute;
    left: 220px;
  }

  .chart-heading1 {
    position: absolute;
    left: 120px;
    top: 120px;
  }

  .chart-heading2 {
    position: absolute;
    left: 130px;
    top: -60px;
  }

  .chart-heading3 {
    position: absolute;
    left: 250px;
    top: 350px;
  }


  .stats1 {
    position: absolute;
    top: 220px;
    left: -170px;
    width: 600px;
  }

  .fact1 {
    position: absolute;
    left: 80px;
    top: 920px;
    width: 200px;
  }

  .fact2 {
    position: absolute;
    left: 390px;
    top: 920px;
    width: 200px;
  }

  .fact3 {
    position: absolute;
    left: 80px;
    top: 1220px;
    width: 200px;
  }

  .fact4 {
    position: absolute;
    left: 390px;
    top: 1220px;
    width: 200px;
  }

  .stats2 {
    position: absolute;
    top: 50px;
    left: -170px;
    width: 600px;
  }

  .stats3 {
    position: absolute;
    top: 450px;
    left: -1130px;
  }

  .arrow-right {
    width: 70px;
    position: absolute;
    top: 2500px;
    left: 600px;

  }

  .continue {
    position: absolute;
    top: 2518px;
    left: 500px;
    border: none;
    width: 100px;
    font-size: 24px;
    text-align: center;
  }

  .continue-link {
    text-decoration: none;
    color: rgb(37, 37, 37);
    position: relative;
  }

  .arrow-left {
    width: 50px;
    position: absolute;
    top: 2515px;
    left: 100px;

  }

  .back {
    position: absolute;
    top: 2520px;
    left: 140px;
    border: none;
    width: 100px;
    font-size: 24px;
    text-align: center;
  }

  .back-link {
    text-decoration: none;
    color: rgb(37, 37, 37);
    position: relative;
  }
}